.addFriends-identityChecked-outer-mask{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);

  .identityChecked-content{
      width:600px;
      height:300px;
      background:white;
      position:fixed;
      top:50%;left:50%;
      margin-left:-300px;margin-top:-150px;
  }
}
    

