.addFriends-identityChecked-outer-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
}

.addFriends-identityChecked-outer-mask .identityChecked-content {
  width: 500px;
  height: 310px;
  background: white;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -155px;
  padding: 15px 0;
  border-radius: 3px;
}

.addFriends-identityChecked-outer-mask .identityChecked-content .userInfo {
  padding: 10px 40px;
}

.addFriends-identityChecked-outer-mask .identityChecked-content .checkedInfo {
  padding: 10px 40px;
}

.addFriends-identityChecked-outer-mask .identityChecked-content .checkedInfo p {
  padding-bottom: 5px;
}

.addFriends-identityChecked-outer-mask .identityChecked-content .checkedInfo textarea {
  resize: none;
  height: 100px;
  width: 98%;
  padding: 1%;
  font-size: 16px;
  border-radius: 3px;
}

.addFriends-identityChecked-outer-mask .identityChecked-content .groupInfo {
  padding: 0 40px;
}

.addFriends-identityChecked-outer-mask .identityChecked-content .groupInfo .selectedGroupInfo {
  margin-bottom: 10px;
}

.addFriends-identityChecked-outer-mask .identityChecked-content .groupInfo .selectedGroupInfo select {
  background-color: #f4f4f4;
  border: none;
  height: 23px;
}

.addFriends-identityChecked-outer-mask .identityChecked-content .groupInfo .remarksInfo {
  margin-bottom: 15px;
}

.addFriends-identityChecked-outer-mask .identityChecked-content .groupInfo .remarksInfo input {
  width: 100px;
  height: 23px;
  padding-left: 4px;
  background: #f4f4f4;
  border: none;
}

.addFriends-identityChecked-outer-mask .identityChecked-content .buttonInfo {
  text-align: center;
}

.addFriends-identityChecked-outer-mask .identityChecked-content .buttonInfo .cencelCheckedButton {
  background-color: white;
  margin-right: 20px;
  width: 90px;
  height: 30px;
  border: #f3f3f3 1px solid;
}

.addFriends-identityChecked-outer-mask .identityChecked-content .buttonInfo .sendCheckedButton {
  color: #666;
  background-color: #eee;
  border: none;
  width: 90px;
  height: 30px;
}

.addFriends-identityChecked-outer-mask .sendRequestMessage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: transparent;
}

.addFriends-identityChecked-outer-mask .sendRequestMessage div {
  width: 300px;
  height: 80px;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -40px;
  color: white;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
