
.addFriends-list-outer-mask{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
 
.addFriends-list-content {
  width: 700px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -350px;
  margin-top: -126px;
  border: #bebebe 1px solid;
  border-radius: 5px;
  box-shadow: 0 0 10px #000000;

  .top-panel {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    background: #dedbda;
    border-radius: 5px 5px 0 0;

    .top-panel-left {
      width: 200px;
      display: flex;
      align-items: center;

      .top-panel-left-icon {
        width: 23px;
        height: 23px;
        border-radius: 50%;
      }

      div:nth-child(1) {
        background: #fc4646;
        margin-left: 30px;
      }

      div:nth-child(2) {
        background: #fbb323;
        margin-left: 15px;
      }
    }

    .top-panel-right {
      width: 300px;
      text-align: center;
    }
  }

  .main-panel {
    width: 646px;
    padding: 0 27px;
    background: #fcfdfc;
    height: 202px;
    border-radius: 0 0 5px 5px;

    .main-panel-content {
      width: 646px;
      background: #fcfdfc;
      display: flex;
      padding-top: 50px;

      .main-panel-content-icon {
        width: 50px;
        height: 50px;
        border-radius: 50% 0 0 50%;
        background: #f0f0f0;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      input {
        font-size: 22px;
        width: 586px;
        background: #f0f0f0;
        border: none;
        height: 50px;
        outline: none;
        border-radius: 0 25px 25px 0;
      }
    }
  }
}

}
