#mainContent{
  width: 100%;
  height: 100%;

  .top-panel{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;

    .title-panel{
      width: 70%;
      height: 25px;
      display: flex;
      align-items: center;

      .equipmentType{
        width:18px;
        height: 18px;
        margin-left: 5px;

        img{
          width: 100%;
          height: 100%;
        }
      }
    }

    /*操作栏样式:单聊*/
    .operate-panel{
      width: 29%;
      height: 25px;

      .ico-panel{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .item-panel{
          width: 20px;
          height: 20px;

          img{
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    /*操作栏样式:群聊*/
    .operate-group-panel{

    }
  }

  .messages-panel{
    width: 100%;
    height: 460px;
    overflow-y: auto;

    .row-panel{
      width: 100%;
      min-height: 50px;
      /*对方消息样式*/
      .otherSide-panel{
        width: 96%;
        min-height: 50px;
        display: flex;
        margin-bottom: 20px;

        .avatar-panel{
          width: 30px;
          height: 30px;
          border-radius: 50%;
          overflow: hidden;

          img{
            width: 100%;
            height: 100%;
          }
        }

        .msg-body{
          max-width: 95%;
          min-height: 40px;
          background: #f4f3f3;
          border-radius: 5px;
          display: flex;
          align-items: center;
          padding: 10px;
          box-sizing: border-box;
          margin-top: 6px;
          margin-left: 16px;
          position: relative;

          /*消息尾巴*/
          .tail-panel{
            width: 20px;
            height: 100%;
            position: absolute;
            left: -14px;

            svg{
              margin-top: 8px;
              color: #f3f3f3;
            }
          }

          p{
            font-size: 15px;
            /*自动换行*/
            word-wrap: break-word;

            img{
              width: 100%;
              height: 100%;
            }
          }
        }
      }

      /*发送者消息样式*/
      .sender-panel{
        width: 96%;
        min-height: 50px;
        float: right;
        margin-right: 12px;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 20px;

        .avatar-panel{
          width: 30px;
          height: 30px;
          border-radius: 50%;
          overflow: hidden;

          img{
            width: 100%;
            height: 100%;
          }
        }

        .msg-body{
          max-width: 95%;
          min-height: 40px;
          background: #d8e8dc;
          border-radius: 5px;
          display: flex;
          align-items: center;
          padding: 10px;
          box-sizing: border-box;
          margin-top: 6px;
          margin-right: 16px;
          position: relative;

          /*消息尾巴*/
          .tail-panel{
            width: 20px;
            height: 100%;
            position: absolute;
            right: -18px;

            svg{
              margin-top: 8px;
              color: #f3f3f3;
            }
          }

          p{
            font-size: 15px;
            /*自动换行*/
            word-wrap: break-word;

            img{
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }

  .user-input-panel{
    width: 100%;
    height: 160px;
    position: relative;

    .toolbar-panel{
      width: 100%;
      height: 40px;
      display: flex;
      align-items: center;

      .item-panel{
        width: 24px;
        height: 24px;
        margin-right: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
          width: 100%;
          height: 100%;
        }
      }
    }

    .input-panel{
      width: 100%;
      height: 120px;
      overflow-y: auto;

      textarea{
        width: 100%;
        height: 115px;
        border: none;
        outline: none;
        background: transparent;
        font-size: 14px;
        resize: none;
      }
    }

    /*表情面板*/
    .emoticon-panel {
      width: 410px;
      height: 270px;
      border-radius: 5px;
      background: white;
      border: solid 1px #dfe0e0;
      padding: 15px;
      box-sizing: border-box;
      position: absolute;
      top: -268px;
      left: -194px;
      display: flex;
      justify-content: center;

      .row-panel{
        width: 100%;
        height: 30px;
        display: flex;
        align-items: center;

        .item-panel{
          width: 25px;
          height: 25px;
          margin-right: 5px;

          img{
            width: 100%;
            height: 100%;

            &:hover{
              width: 26px;
              height: 26px;
            }
          }
        }
      }

      .ico-panel{
        width: 0;
        height: 0;
        border-right: 6px solid transparent;
        border-left: 6px solid transparent;
        border-top: 6px solid #dfe0e0;
        position: absolute;
        bottom: -6px;

        img{
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
