#mainBody {
  width: 100%;
  height: 100%;
  display: flex;

  .list-panel {
    min-width: 214px;
    width: 15%;
    height: 100%;
    box-sizing: border-box;
    border-right: solid 2px #f6f7f9;
    overflow-y: auto;

    .row-panel {
      width: 100%;
      height: 70px;
      list-style: none;
      background: #fdfdfd;
      cursor: default;
      user-select: none;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .item-subscript-panel {
        width: 13px;
        height: 100%;
        overflow: hidden;
        position: relative;

        img {
          width: 13px;
          height: 13px;
          position: absolute;
          top: 0;
        }
      }

      .item-avatar-panel {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .item-nickname-panel {
        width: 35%;
        min-width: 75px;
        height: 40px;

        p {
          font-size: 15px;
          overflow: hidden;
          /*溢出的部分隐藏*/
          white-space: nowrap;
          /*文本不换行*/
          text-overflow: ellipsis;

          &.title {
            font-weight: 400;
          }

          &.subtitle {
            color: #7b7b7b;
            font-size: 12px;
          }
        }
      }

      .item-time-panel {
        min-width: 61px;
        width: 28%;
        height: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: flex-start;
        position: relative;

        & p {
          width: 100%;
          text-align: right;
          font-size: 13px;
          color: #7b7b7b;
        }

        /*未读消息条数显示样式*/
        .msg-count-panel {
          animation: msgChange 1s;
          width: 20px;
          height: 20px;
          background: #F55449;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          font-size: 14px;
          font-weight: 700;
        }

        // 99+消息显示样式
        .msg-count-more-panel {
          animation: moreMsgChange 1s;
          width: 40px;
          border-radius: 20px;
        }

        // 免打扰显示样式
        .doNotDisturb-panel {
          width: 16px;
          height: 16px;
          position: absolute;
          bottom: 5px;
          right: 5px;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    .active {
      background-color: #E4E4E4;
    }

    .topping {
      background: #f3f3f3;
    }
  }

  .content-panel {
    width: 85%;
    // 设置最小宽度避免出现横向滚动条
    min-width: calc(100% - 214px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 280px;
      height: 280px;
    }
  }
}

// 显示未读消息时的过度动画
@keyframes msgChange {
  from {
    width: 0;
    height: 0;
  }

  to {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
}


// 未读消息超过9条时显示的过度动画
@keyframes moreMsgChange {
  from {
    width: 20px;
    border-radius: 50%;
  }

  to {
    width: 40px;
    border-radius: 20px;
  }
}