.info-con {
  min-width: 160px;
  max-width: 300px;
  height: 30px;
  line-height: 30px;
  color: #19db74;
  text-align: center;
  margin: auto;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 0px 5px 2px rgb(216, 216, 216);
  z-index: 9999;
}
