$borderColor: #ededed;
$hoverColor: #f5f5f6;
$fontColor: #bbbbbb;
$listFontColor: #777777;
$hoverFontColor: #12b7f5;
$Color: #007fff;
$boderColor: #f5f5f6;

#setting {
  width: 80%;
  height: 680px;
  min-width: 900px;
  margin: auto;
  overflow: auto;
  .main-title {
    width: 500px;
    font-weight: 500;
    font-size: 22px;
  }
  table {
    width: 100%;
    td {
      padding: 20px 0;
      border-bottom: 1px solid $boderColor;
      .layout {
        width: 140px;
        height: 40px;
        line-height: 40px;
        font-size: 18px;
        color: #fff;
        text-align: center;
        border: 0;
        outline: none;
        border-radius: 5px;
        background-color: rgb(245, 108, 108);
        margin: auto;
        cursor: pointer;
      }
    }
    td:nth-child(1) {
      padding-right: 100px;
    }
    .uploadAvatar {
      display: flex;
      .title {
        width: 100px;
      }
    }
    .avatar {
      width: 80px;
      height: 80px;
      overflow: hidden;
      margin: 0 20px;
      img {
        width: 100%;
      }
    }
    .btn-area {
      position: relative;
      .tips {
        font-size: 14px;
        color: $fontColor;
      }
      .up-btn {
        cursor: pointer;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 80px;
        height: 28px;
        text-align: center;
        font-size: 14px;
        color: #fff;
        line-height: 28px;
        overflow: hidden;
        border-radius: 2px;
        background: $Color;
        input {
          cursor: pointer;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 28px;
          opacity: 0;
          z-index: 2;
        }
      }
    }
  }
}

.input-box {
  display: flex;
  .title {
    width: 100px;
    line-height: 30px;
  }
  select {
    height: 28px;
    border-radius: 4px;
    margin-right: 10px;
    outline: none;
  }
  select:last-child {
    width: 70px;
  }
}
.toast {
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  margin: auto;
}